@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal-container {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #1f2029;
  background-color: #fff;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  z-index: 10000;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #1f2029;
}
/* 
.section {
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
} */

.full-height {
  min-height: 100%;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.modal-btn:checked + label,
.modal-btn:not(:checked) + label {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 150px;
  transition: all 200ms linear;
  border-radius: 4px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
}

.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil {
  margin-left: 10px;
  font-size: 18px;
}

.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #ffeba7;
  color: #102770;
  font-family: 'unicons';
  content: 'X';
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}

.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after {
  background-color: #102770;
  color: #ffeba7;
}

.modal-btn:checked + label:after {
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(31, 32, 41, 0.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms ease;
  }

  @media (min-width: 1025px) {
  
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(31, 32, 41, 0.75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms ease;
  }
}
  
  .modal-btn:checked ~ .modal {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal-wrap {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 12px 25px rgba(248, 240, 1, 0.779);
    padding: 50px;
    max-width: 350px;
    width: 100%;
    transform: scale(0.6);
    opacity: 0;
    transition: opacity 250ms ease, transform 300ms ease;
  }
  
  .modal-btn:checked ~ .modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
  }
  
.modal-wrap p {
  padding: 20px 30px 0 30px;
}

.modal-btn:checked ~ .modal .modal-wrap {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  display: block;
  z-index: 1000;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: filter 250ms 700ms linear;
}

.modal-btn:checked ~ .logo img {
  filter: brightness(100%);
  transition: all 250ms linear;
}

@media screen and (max-width: 500px) {
  .modal-wrap {
    width: calc(100% - 40px);
    padding-bottom: 15px;
  }
  .modal-wrap p {
    padding: 15px 20px 0 20px;
  }
}



/* Estilos gerais */
.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .modal-description, .programming-description, .footer-text {
    font-size: 16px;
    color: #666;
  }
  
  .programming-title {
    font-size: 20px;
    color: #444;
  }
  
  footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .modal-wrap {
    padding: 20px;
    background-color: #fff;
  }
  
  .isfm-news, .isfm-surf, .isfm-rock, .isfm-esportes {
    padding: 15px;
    border-radius: 8px;
  }
  
  .isfm-news {
    background-color: #ffd47d;
  }
  
  .isfm-surf {
    background-color: #e0f7fa;
  }
  
  .isfm-rock {
    background-color: #ffeb3b;
  }
  
  .isfm-esportes {
    background-color: #c8e6c9;
  }
  
  .full-height h1, h2 { 
    color: #e42c2c;
  }




  /* stick bar */

  .sticky-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: #eeca24; /* Ajuste conforme o design */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona um leve efeito */
  }
  